@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;1,100;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: auto;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.close {
  display: none;
}

@keyframes enter {
  0% {
    opacity: 0;
    transform: translateY(-300px);
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.9;
    transform: translateY(0);
  }
}
@keyframes change-text {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}
#navigation {
  position: fixed;
  z-index: 2000;
  background-color: #f4a9a8;
  left: -50%;
  width: 50%;
  height: 100%;
  padding: 1rem 0;
  opacity: 0.9;
}
#navigation .links {
  z-index: 201;
  width: 100%;
  height: 100%;
}
#navigation .links .link-list {
  display: flex;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style: none;
}
#navigation .links .link-list .link {
  text-align: center;
  padding: 2rem 0;
  cursor: pointer;
  font-weight: 700;
  color: #fff;
}
#navigation .links .link-list .link:hover {
  background-color: #eb6664;
}
#navigation .links.close {
  display: none;
}

#header {
  background-image: url("../images/image-10.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
#header .header__first-section {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .header__first-section img {
  width: 40vh;
}
#header .header__second-section {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}
#header .header__second-section .information {
  margin-top: 3rem;
  padding: 0 1rem;
  text-shadow: 0px 0px 8px gray;
  width: 80%;
  text-align: center;
  height: auto;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}
@media (min-width: 992px) {
  #header .header__second-section .information {
    font-size: 3.5rem;
  }
}

#about-us {
  background-image: url("../images/image-9.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#about-us article {
  background-color: rgba(244, 169, 168, 0.8);
  padding: 3rem;
  width: 300px;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  color: #fff;
  padding: 1rem 2rem;
}
#about-us article h5 {
  font-size: 1.3rem;
}
@media (min-width: 992px) {
  #about-us article h5 {
    font-size: 2rem;
  }
}
#about-us article .motivation {
  text-align: justify;
  font-size: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 658px) {
  #about-us article .motivation {
    width: 80%;
  }
}
@media (min-width: 992px) {
  #about-us article .motivation {
    font-size: 1.5rem;
    width: 50%;
  }
}
#about-us article p {
  margin: 0.1rem 0;
}

#instructors {
  min-height: 100vh;
  height: auto;
  background-color: #afb9c8;
  display: flex;
  flex-direction: column;
  text-align: center;
}
#instructors h4 {
  color: #fff;
  font-size: normal;
}
@media (min-width: 992px) {
  #instructors h4 {
    font-weight: normal;
    font-size: 2rem;
  }
}
#instructors .instructors__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #8b4163;
}
#instructors .instructors__header h3 {
  position: relative;
  font-size: 2rem;
  padding: 0.8rem 0;
}
#instructors .instructors__header p {
  padding: 0 2rem;
}
@media (min-width: 992px) {
  #instructors .instructors__header p {
    width: 50%;
  }
}
#instructors .instructor__container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
@media (min-width: 992px) {
  #instructors .instructor__container {
    padding: 2rem;
    font-size: 1rem;
    width: 100%;
    flex-direction: row;
  }
}
#instructors .instructor__container .instructor {
  width: 100%;
  position: relative;
}
@media (min-width: 992px) {
  #instructors .instructor__container .instructor {
    margin: 0 1rem;
  }
}
#instructors .instructor__container .instructor .closeInfo {
  background: transparent;
  border: none;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1.5rem;
  color: #ce97b0;
  cursor: pointer;
  z-index: 300;
}
#instructors .instructor__container .instructor .instructor__image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#instructors .instructor__container .instructor .instructor__image .instructor__image--photo {
  border-radius: 50%;
  width: 50%;
  min-width: 200px;
  max-width: 350px;
  background-color: #afb9c8;
  box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.75);
}
#instructors .instructor__container .instructor .instructor__image .instructor__image--photo:hover {
  box-shadow: 0px 2px 9px 7px rgba(0, 0, 0, 0.75);
}
#instructors .instructor__container .instructor .instructor__name {
  margin: 0.8rem 0;
  width: 100%;
  letter-spacing: 3px;
  padding: 0.8rem 0;
  background-color: #f4a9a8;
  font-size: 700;
}
@media (min-width: 992px) {
  #instructors .instructor__container .instructor .instructor__name {
    border-radius: 5%;
    margin: 0.8rem;
  }
}
#instructors .instructor__container .instructor .instructor__bio {
  position: absolute;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  top: 0;
  color: #fff;
  text-align: center;
}
#instructors .instructor__container .instructor .instructor__bio .instructor__bio--info {
  padding: 1rem;
  width: 100%;
  color: #fff;
  z-index: 150;
}

#contact-us {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #8b4163;
  height: auto;
  width: 100%;
  background-color: rgba(206, 151, 176, 0.5);
}
@media (min-width: 992px) {
  #contact-us {
    background-image: url("../images/image-11.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
#contact-us .contact__header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 1rem;
}
#contact-us .contact__header h4 {
  font-size: 2rem;
}
#contact-us .contact__header p {
  padding: 0 2rem;
  font-size: 1.3rem;
}
#contact-us .icon {
  position: absolute;
  top: 0;
  right: 0;
  color: #afb9c8;
  z-index: 100;
}
#contact-us form {
  font-size: 1rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
}
@media (min-width: 658px) {
  #contact-us form {
    max-width: 400px;
    padding: 1rem;
    width: 80%;
    background-color: rgba(244, 169, 168, 0.5);
  }
}
@media (min-width: 992px) {
  #contact-us form {
    position: relative;
    right: 8rem;
    max-width: 550px;
    margin-bottom: 2rem;
    margin-left: 1rem;
    background-color: transparent;
  }
}
#contact-us form .button-group {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact-us form .button-group button {
  border: none;
  background-color: #f4a9a8;
  font-size: 1rem;
  color: #8b4163;
  padding: 0.6rem 0.4rem;
  width: 60%;
  font-weight: 700;
  box-shadow: 0px 4px 16px -2px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
#contact-us form .button-group button:hover {
  background-color: #eb6664;
}
#contact-us form .form-group {
  display: flex;
  flex-direction: column;
  margin: 1.3rem 0;
}
#contact-us form .form-group label {
  color: #fff;
  padding: 0.2rem 0.5rem;
  color: #8b4163;
  background-color: #fbc6a4;
}
#contact-us form .form-group input {
  font-size: inherit;
  padding: 0.9rem 1rem;
  border: none;
  width: 100%;
  outline: none;
  box-shadow: 0px 4px 16px -2px rgba(0, 0, 0, 0.75);
  color: #8b4163;
}
#contact-us form .form-group input.input-error {
  border: 1px solid red;
  color: red;
}
#contact-us form .form-group .input-group {
  position: relative;
}
#contact-us form .form-group .input-group i {
  z-index: 199;
  position: absolute;
  right: 10px;
  top: 7px;
  color: #ce97b0;
  font-size: 2rem;
}

#btn-nav {
  position: fixed;
  opacity: 0.3;
  background-color: transparent;
  border: none;
  z-index: 3000;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
#btn-nav image {
  width: 30px;
  height: 30px;
}
#btn-nav:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

#plan {
  min-height: 100vh;
  padding: 1rem 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 658px) {
  #plan {
    justify-content: center;
  }
}
#plan h5 {
  color: #8b4163;
  font-size: 2rem;
}
#plan .plan-header {
  height: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#plan .plan-header p {
  text-align: center;
  padding: 0 2rem;
  color: #5a6b84;
}
#plan .plan-badge {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #ce97b0;
  width: 90%;
  height: 60%;
  border-radius: 5%;
  box-shadow: -1px 3px 12px 5px rgba(0, 0, 0, 0.75);
  text-align: center;
  display: grid;
  grid-template-rows: 20% 10% 1fr;
}
@media (max-width: 576px) {
  #plan .plan-badge {
    height: 60vh;
  }
}
@media (min-width: 658px) {
  #plan .plan-badge {
    width: 500px;
    margin-bottom: 0;
  }
}
#plan .plan-badge .plan-name {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#plan .plan-badge .plan-name span {
  font-weight: 700;
  font-size: 2rem;
  color: #cccc00;
}
#plan .plan-badge .plan-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#plan .plan-badge .plan-price hr {
  width: 70%;
  color: #afb9c8;
  text-shadow: 0px 0px 6px #969696;
}
#plan .plan-badge .plan-price p {
  font-weight: 700;
  font-size: 0.8rem;
  color: #8b4163;
}
#plan .plan-badge .plan-price span {
  font-size: 1.5rem;
  color: #fff;
}
#plan .plan-badge .plan-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0.3rem 2rem;
  margin-bottom: 1rem;
}
@media (min-width: 540px) {
  #plan .plan-badge .plan-description {
    height: 70vh;
  }
}
@media (min-width: 658px) {
  #plan .plan-badge .plan-description {
    height: 500px;
    align-items: flex-start;
  }
}
#plan .plan-badge .plan-description h5 {
  align-self: center;
  margin-top: 0.6rem;
  margin-bottom: 0.8rem;
}
#plan .plan-badge .plan-description ul {
  list-style-type: circle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media (min-width: 658px) {
  #plan .plan-badge .plan-description ul {
    padding: 0 2rem;
  }
}
#plan .plan-badge .plan-description ul li {
  color: #8b4163;
}
#modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
}
#modal .modal-badge {
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border: 1.5px solid #000;
}
#modal .modal-badge span {
  width: 80%;
  text-align: center;
  color: #8b4163;
}
#modal .modal-badge button {
  margin-top: 0.8rem;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #8b4163;
  color: #fbc6a4;
  cursor: pointer;
}
#modal .modal-badge button:active {
  transform: scale(0.9);
}

#footer {
  background-color: #afb9c8;
  display: grid;
  grid-template-rows: 85% 1fr;
}
#footer .footer-info .copyright {
  font-size: 0.8rem;
  text-align: center;
  color: #fff;
}
#footer .designer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: #000;
  padding: 0 0.4rem;
}
#footer .designer p {
  font-size: 0.8rem;
  color: #fff;
}
#footer .designer strong {
  color: yellow;
}
#footer .designer i {
  color: lightblue;
  margin: 0 0.2rem;
}
#footer .designer i:hover,
#footer .designer i :active {
  color: blue;
  transform: scale(1.1);
}

/*# sourceMappingURL=main.css.map */
