#about-us {
    @include section-background('image-9.jpg');

    article {
        background-color: rgb(244, 169, 168, 0.8);
        padding: 3rem;
        width: 300px;
        height: 400px;
    	@include display-flex(1);
    	flex-direction: column;
    	height: 100%;
    	width: 100%;
    	color: #fff;
    	padding: 1rem 2rem;

    	h5 {
    		font-size: 2rem;
    	}

        .motivation {
            text-align: justify;

            @include display-flex(1);
            flex-direction: column;

            @include large-devices() {
                width: 50%;
            }
        }

        p {
            margin: 1rem 0;
        }
    }
}