#btn-nav {
	position: fixed;
	opacity: 0.3;
	background-color: transparent;
	border: none;
	z-index: 200;
	top: 1rem;
	right: 1rem;
	padding: 0 0.3rem;
	font-size: 3rem;
	cursor: pointer;
	color: #fff;


	&:hover{
		color: $pink-color;
		transform: scale(1.1);
		opacity: 0.9;
	}

}