#navigation {
    position: fixed;
    z-index: 100;
    background-color: $pink-color;
    left: -50%;
    width: 50%;
    height: 100%;
    padding: 1rem 0;
    opacity: 0.9;

    .links {
        z-index: 201;
        width: 100%;
        height: 100%;

        .link-list {
            @include display-flex(0);
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            list-style: none;

            .link {
                text-align: center;
                padding: 2rem 0;
                cursor: pointer;
                font-weight: 700;
                color: #fff;

                &:hover {
                    background-color: darken($pink-color, 15%);
                }
            }
        }

        &.close {
            display: none;
        }
    }
}