* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	height: auto;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.close {
	display: none;
}
