@keyframes enter {
    0% {
        opacity: 0;
        transform: translateY(-300px);
    }

    25% {
        opacity: 0.2;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 0.9;
        transform: translateY(0);
    }
}

@keyframes change-text{
    0% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0);
    }
}