$pink-color: #f4a9a8;
$purple-color: #ce97b0;
$melon-color: #fbc6a4;
$dark-color: #afb9c8;

// $brand-dimensions: 9.3rem;
$brand-dimensions: 16rem;

// Breakpoints
$small-devices: '576px';
$medium-devices: '658px';
$large-devices: '992px';
$x-large-devices: '1200px'; 